# Core dependencies
fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.3
pydantic-settings==2.1.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
python-dotenv==1.0.0
alembic==1.13.1

# ML/Data Science
tensorflow-cpu==2.15.0  # Specifically using CPU version for Heroku
numpy==1.26.2
pandas==2.1.4

# Optional dependencies
python-dateutil==2.9.0.post0
pytz==2024.2
pydantic_core==2.14.6
starlette==0.35.1

# Server dependencies
uvloop==0.21.0
httptools==0.6.4
watchfiles==1.0.0
websockets==14.1